In [1]:
from loopimer import *

In [ ]:
@loopimer(every=5)
def test(loop,): 
    print('loopimer')
test()

loopimer
loopimer
loopimer
loopimer
loopimer

In [2]:
@loopimer(every=5)
def test(loop,): 
    print('loopimer')
    loop.kill()
test()

loopimer

In [4]:
@loopimer(every=1)
def test(loop,):
    print(loop.counter)
    if(loop.counter==10):
        print('loopimer')
        loop.kill()
test()

1
2
3
4
5
6
7
8
9
10
loopimer

In [2]:
@loopimer(every=1)
def test(loop,):
    print(loop.elapsed,loop.total_seconds)
    if(loop.total_seconds>=6):
        print('loopimer')
        loop.kill()
test()

0:00:01.008894 1.008894
0:00:02.017811 2.017811
0:00:03.048286 3.048286
0:00:04.066558 4.066558
0:00:05.126234 5.126234
0:00:06.139439 6.139439
loopimer

In [2]:
target=[i for i in range(0,100,1)]
n_splits=10

In [3]:
@loopimer(target=target,n_splits=n_splits,every=1)
def test(loop,):
    print(loop.sequence.get())
test()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
[40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
[60, 61, 62, 63, 64, 65, 66, 67, 68, 69]
[70, 71, 72, 73, 74, 75, 76, 77, 78, 79]
[80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [19]:
import numpy as np
import pandas as pd
import datetime as dt
import simplejson as json
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df['date']=dt.datetime.now()

In [20]:
df.head()

    A   B   C   D                       date
0  83  65  23  38 2019-07-17 20:32:24.201242
1  31  87  71  74 2019-07-17 20:32:24.201242
2  23  26  62  44 2019-07-17 20:32:24.201242
3  43  50  34  81 2019-07-17 20:32:24.201242
4  51   1  98  55 2019-07-17 20:32:24.201242

In [21]:
df_json=json.loads(df.to_json(orient='records'))

In [22]:
@loopimer(target=df_json,n_splits=10,every=1)
def test(loop,):
    print(json.dumps(loop.sequence.get()),'\n')
test()

[{"A": 83, "B": 65, "C": 23, "D": 38, "date": 1563395544201}, {"A": 31, "B": 87, "C": 71, "D": 74, "date": 1563395544201}, {"A": 23, "B": 26, "C": 62, "D": 44, "date": 1563395544201}, {"A": 43, "B": 50, "C": 34, "D": 81, "date": 1563395544201}, {"A": 51, "B": 1, "C": 98, "D": 55, "date": 1563395544201}, {"A": 36, "B": 15, "C": 40, "D": 25, "date": 1563395544201}, {"A": 81, "B": 0, "C": 97, "D": 84, "date": 1563395544201}, {"A": 6, "B": 62, "C": 14, "D": 35, "date": 1563395544201}, {"A": 37, "B": 70, "C": 55, "D": 18, "date": 1563395544201}, {"A": 21, "B": 89, "C": 85, "D": 78, "date": 1563395544201}]

[{"A": 11, "B": 88, "C": 25, "D": 81, "date": 1563395544201}, {"A": 46, "B": 17, "C": 30, "D": 98, "date": 1563395544201}, {"A": 83, "B": 13, "C": 6, "D": 66, "date": 1563395544201}, {"A": 13, "B": 92, "C": 15, "D": 71, "date": 1563395544201}, {"A": 48, "B": 17, "C": 9, "D": 7, "date": 1563395544201}, {"A": 9, "B": 68, "C": 25, "D": 11, "date": 1563395544201}, {"A": 7, "B": 29, "C": 67, "D": 28, "date": 1563395544201}, {"A": 23, "B": 90, "C": 18, "D": 10, "date": 1563395544201}, {"A": 17, "B": 65, "C": 83, "D": 13, "date": 1563395544201}, {"A": 40, "B": 48, "C": 65, "D": 83, "date": 1563395544201}]

[{"A": 39, "B": 14, "C": 57, "D": 53, "date": 1563395544201}, {"A": 92, "B": 37, "C": 91, "D": 7, "date": 1563395544201}, {"A": 57, "B": 37, "C": 63, "D": 73, "date": 1563395544201}, {"A": 67, "B": 74, "C": 46, "D": 44, "date": 1563395544201}, {"A": 9, "B": 56, "C": 84, "D": 5, "date": 1563395544201}, {"A": 65, "B": 22, "C": 7, "D": 90, "date": 1563395544201}, {"A": 82, "B": 57, "C": 92, "D": 45, "date": 1563395544201}, {"A": 90, "B": 17, "C": 79, "D": 85, "date": 1563395544201}, {"A": 44, "B": 12, "C": 11, "D": 29, "date": 1563395544201}, {"A": 76, "B": 13, "C": 19, "D": 45, "date": 1563395544201}]

[{"A": 22, "B": 7, "C": 98, "D": 80, "date": 1563395544201}, {"A": 25, "B": 57, "C": 56, "D": 40, "date": 1563395544201}, {"A": 74, "B": 84, "C": 13, "D": 54, "date": 1563395544201}, {"A": 64, "B": 71, "C": 49, "D": 24, "date": 1563395544201}, {"A": 69, "B": 83, "C": 15, "D": 52, "date": 1563395544201}, {"A": 53, "B": 23, "C": 93, "D": 18, "date": 1563395544201}, {"A": 14, "B": 60, "C": 16, "D": 13, "date": 1563395544201}, {"A": 10, "B": 3, "C": 42, "D": 73, "date": 1563395544201}, {"A": 71, "B": 80, "C": 62, "D": 36, "date": 1563395544201}, {"A": 75, "B": 35, "C": 29, "D": 33, "date": 1563395544201}]

[{"A": 11, "B": 54, "C": 67, "D": 12, "date": 1563395544201}, {"A": 55, "B": 24, "C": 92, "D": 53, "date": 1563395544201}, {"A": 44, "B": 10, "C": 54, "D": 38, "date": 1563395544201}, {"A": 45, "B": 69, "C": 27, "D": 23, "date": 1563395544201}, {"A": 60, "B": 99, "C": 24, "D": 38, "date": 1563395544201}, {"A": 56, "B": 45, "C": 48, "D": 58, "date": 1563395544201}, {"A": 36, "B": 28, "C": 91, "D": 91, "date": 1563395544201}, {"A": 33, "B": 73, "C": 96, "D": 69, "date": 1563395544201}, {"A": 86, "B": 81, "C": 18, "D": 47, "date": 1563395544201}, {"A": 18, "B": 45, "C": 63, "D": 64, "date": 1563395544201}]

[{"A": 16, "B": 57, "C": 9, "D": 68, "date": 1563395544201}, {"A": 45, "B": 3, "C": 65, "D": 29, "date": 1563395544201}, {"A": 10, "B": 43, "C": 17, "D": 76, "date": 1563395544201}, {"A": 69, "B": 77, "C": 51, "D": 5, "date": 1563395544201}, {"A": 12, "B": 94, "C": 25, "D": 9, "date": 1563395544201}, {"A": 47, "B": 33, "C": 22, "D": 4, "date": 1563395544201}, {"A": 11, "B": 74, "C": 53, "D": 68, "date": 1563395544201}, {"A": 36, "B": 10, "C": 36, "D": 37, "date": 1563395544201}, {"A": 29, "B": 42, "C": 92, "D": 91, "date": 1563395544201}, {"A": 8, "B": 40, "C": 94, "D": 76, "date": 1563395544201}]

[{"A": 61, "B": 51, "C": 44, "D": 1, "date": 1563395544201}, {"A": 43, "B": 94, "C": 87, "D": 80, "date": 1563395544201}, {"A": 57, "B": 47, "C": 10, "D": 30, "date": 1563395544201}, {"A": 31, "B": 38, "C": 96, "D": 91, "date": 1563395544201}, {"A": 54, "B": 90, "C": 76, "D": 30, "date": 1563395544201}, {"A": 11, "B": 89, "C": 40, "D": 42, "date": 1563395544201}, {"A": 29, "B": 44, "C": 82, "D": 61, "date": 1563395544201}, {"A": 29, "B": 20, "C": 57, "D": 20, "date": 1563395544201}, {"A": 4, "B": 17, "C": 97, "D": 99, "date": 1563395544201}, {"A": 70, "B": 92, "C": 40, "D": 40, "date": 1563395544201}]

[{"A": 59, "B": 82, "C": 62, "D": 38, "date": 1563395544201}, {"A": 57, "B": 85, "C": 24, "D": 27, "date": 1563395544201}, {"A": 91, "B": 39, "C": 24, "D": 1, "date": 1563395544201}, {"A": 53, "B": 90, "C": 44, "D": 74, "date": 1563395544201}, {"A": 94, "B": 6, "C": 5, "D": 42, "date": 1563395544201}, {"A": 47, "B": 2, "C": 98, "D": 43, "date": 1563395544201}, {"A": 94, "B": 47, "C": 85, "D": 22, "date": 1563395544201}, {"A": 14, "B": 0, "C": 48, "D": 99, "date": 1563395544201}, {"A": 71, "B": 63, "C": 34, "D": 89, "date": 1563395544201}, {"A": 80, "B": 94, "C": 84, "D": 71, "date": 1563395544201}]

[{"A": 7, "B": 49, "C": 25, "D": 70, "date": 1563395544201}, {"A": 74, "B": 10, "C": 59, "D": 96, "date": 1563395544201}, {"A": 69, "B": 76, "C": 62, "D": 61, "date": 1563395544201}, {"A": 98, "B": 36, "C": 78, "D": 71, "date": 1563395544201}, {"A": 54, "B": 65, "C": 76, "D": 16, "date": 1563395544201}, {"A": 31, "B": 4, "C": 2, "D": 50, "date": 1563395544201}, {"A": 11, "B": 76, "C": 1, "D": 7, "date": 1563395544201}, {"A": 90, "B": 72, "C": 90, "D": 7, "date": 1563395544201}, {"A": 41, "B": 33, "C": 60, "D": 21, "date": 1563395544201}, {"A": 14, "B": 40, "C": 80, "D": 19, "date": 1563395544201}]

[{"A": 4, "B": 57, "C": 90, "D": 91, "date": 1563395544201}, {"A": 45, "B": 43, "C": 41, "D": 68, "date": 1563395544201}, {"A": 9, "B": 74, "C": 31, "D": 74, "date": 1563395544201}, {"A": 69, "B": 15, "C": 42, "D": 98, "date": 1563395544201}, {"A": 1, "B": 22, "C": 27, "D": 36, "date": 1563395544201}, {"A": 55, "B": 81, "C": 80, "D": 49, "date": 1563395544201}, {"A": 42, "B": 52, "C": 25, "D": 31, "date": 1563395544201}, {"A": 65, "B": 24, "C": 70, "D": 96, "date": 1563395544201}, {"A": 60, "B": 30, "C": 65, "D": 50, "date": 1563395544201}, {"A": 29, "B": 92, "C": 94, "D": 37, "date": 1563395544201}]